<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Journey Hub</title>
    <div th:replace="fragments/CDN :: bootstrap"></div>
    <div th:replace="fragments/CDN :: jquery"></div>
    <div th:replace="fragments/CDN :: bootstrapjs"></div>
    <div th:replace="fragments/CDN :: style"></div>
</head>

<body>
<div class="container-fluid">
    <div th:replace="fragments/head :: header"></div>
</div>
</body>
</html>