<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Places</title>
    <div th:replace="fragments/CDN :: bootstrap"></div>
    <div th:replace="fragments/CDN :: jquery"></div>
    <div th:replace="fragments/CDN :: bootstrapjs"></div>
    <div th:replace="fragments/CDN :: style"></div>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link type="text/css" rel="stylesheet" href="/styles/stars.css">
</head>

<body>
<div class="container-fluid">
    <div th:replace="fragments/head :: header"></div>
</div>
<div>
    <div class="legend text-center">
        <h2 th:text="${place.name}"></h2>
    </div>
    <div class="container-fluid text-center">
        <h4 th:text="${place.text}"></h4>
        <h4 th:text="${place.location}"></h4>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="star-rating">
                        <span class="fa fa-star-o" data-rating="1">&#9733;</span>
                        <span class="fa fa-star-o" data-rating="2">&#9733;</span>
                        <span class="fa fa-star-o" data-rating="3">&#9733;</span>
                        <span class="fa fa-star-o" data-rating="4">&#9733;</span>
                        <span class="fa fa-star-o" data-rating="5">&#9733;</span>
                        <input type="hidden" name="whatever1" class="rating-value" value="2.56">
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div th:if="${place.liked}">
                <a class="btn" disabled="disabled">&#128077;</a>
            </div>
            <div th:unless="${place.liked}">
                <a th:href="@{/places/like/{id}(id=${place.id})}" class="btn btn-warning">&#128077;</a>
            </div>
            <a th:href="@{/places/edit/{id}(id=${place.id})}" class="btn btn-primary">Edit</a>
            <a th:href="@{/places/delete/{id}(id=${place.id})}" class="btn btn-danger">Delete</a>
        </div>
        <div class="w3-content w3-display-container" style="width: 450px; margin-top: 35px" th:if="${place.images.size()} > 0">
        <div th:each="image : ${place.images}">
            <img class="mySlides" th:src="${image}" style="width:100%;">
        </div>
        <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
        <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
        </div>
    </div>
</div>
</div>
<div class="container-fluid">
    <div th:replace="fragments/footer :: footer"></div>
</div>
<script src="/js/common/place-info.js"></script>

</body>
</html>