<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Places</title>
    <div th:replace="fragments/CDN :: bootstrap"></div>
    <div th:replace="fragments/CDN :: jquery"></div>
    <div th:replace="fragments/CDN :: bootstrapjs"></div>
    <div th:replace="fragments/CDN :: style"></div>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link type="text/css" rel="stylesheet" href="/styles/stars.css">
</head>

<body>
<div class="container-fluid">
    <div th:replace="fragments/head :: header"></div>
</div>
<div>
    <div class="legend text-center">
        <h2 th:text="${tour.name}"></h2>
    </div>
    <div class="container-fluid text-center">
        <table class="table table-hover">
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Location</th>
                <th></th>
            </tr>
            <tr th:each="place,index : ${tour.places}" th:object="${place}">
                <td th:text="${index.count}"></td>
                <td th:text="*{name}"></td>
                <td class="place-name" th:text="${place.location.name}"></td>
                <td><a th:href="@{/places/show/{id}(id=${place.id})}" class="btn btn-primary">View Place</a></td>
            </tr>
        </table>
    </div>
    <div class="container-fluid text-center" id="map">

    </div>
    <div id="directions-panel" class="text-center"></div>
    </div>

<div class="container-fluid">
    <div th:replace="fragments/footer :: footer"></div>
</div>
<script src="/js/common/tour-info.js"></script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCsQ83MLlWTqZGxh3eTwyjuSEsBgSrtbk8&callback=initMap">
</script>
</body>
</html>