.star-rating {
    line-height:32px;
    font-size:1.25em;
}

.star-rating .fa-star{
    font-size: 40px;
    color:#FF912C;
}

.fa-star-o{
    font-size: 40px;
}

.fa-star-o.hover{
    color:#FFCC36;
    font-size: 40px;
}